.contactListToLogin {
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  height: 180px;
  width: 200px;
  background-color: rgba(245, 235, 235, 0.404);
  z-index: 5;
}

.contactListToLogin__contact {
  display: flex;
  align-items: center;
  height: 48px;
  cursor: pointer;
  padding: 10px 8px 8px 14px;
  box-sizing: border-box;
}

.contactListToLogin__contact:hover {
  background-color: #d492c2;
}

.contactListToLogin__name {
  padding-left: 10px;
}
