.app {
  height: 100vh;
}

.app__header {
  position: sticky;
}

.app__body {
  padding: 5% 10% 1%;
  display: flex;
  justify-content: space-between;
}

.app__welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
  height: 50vh;
}

.app__welcome > p {
  font-size: xx-large;
}

.app__contactsBar {
  flex: 0.4;
}

.app__contactCard,
.app__chatUi {
  flex: 0.5;
}
